<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io.connect()
            socket.on('connect', () => {
              console.log('서버와 성공적으로 연결되었습니다')
              socket.on('message', (text) => alert(text))
            })
            function callServer() {
                socket.emit('message', 'final')
            }
        </script>
    </head>
    <body>
        <button onclick="callServer()">final</button>
    </body>
</html>